@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto+Slab:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: roboto;
}

main {
  padding-top: 170px;
  padding-bottom: 50px;
}

.meses-carousel,
.dias-carousel {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  overflow: auto;
  padding-left: 30px;
}



.mes {
  margin: 5px;
  padding: 10px;
  border: 1px solid #cccccc4b;
  cursor: pointer;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  border: none;
  background-color: transparent;
  color: #696969;
}



.dia {
  font-family: Roboto;
  font-size: 20px;
  border-radius: 10px;
  padding: 2px;
  min-width: 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #cccccc4b;
  cursor: pointer;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(25px);
  position: fixed;
  top: 0;
}



.titleCard {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.titleCardAD {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
}

.boldTitle {
  font-weight: 600;
  font-size: 23px;
}

.infoClass {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.74);
  margin-bottom: -18px;
  margin-top: -18px;
}

.infoClassSpan {
  font-weight: 400;
}

.textBoldCard {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.carrosselCardsClasses{
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  height: 100vh;
  overflow: auto;
}

.teacherImg {
  width: 30px;
  height: 30px;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  filter: drop-shadow(2px 2px 20px rgba(114, 94, 179, 0.5));
  border-radius: 9px;
}



/* BARRA DE NAVEGAÇÃO */

nav {
  /* display: none; */
  position: fixed;
  bottom: 0;
  padding: 10px 0px;
  max-height: 150px;
  min-height: 55px;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);

  backdrop-filter: blur(25px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.navIcons {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 10px;
}

.navIcons a {
  width: 5%;
  min-width: 35px;
}

.navIcons a img {
  width: 100%;
}