.adCard {
    width: 85%;
    max-width: 355px;
    height: 18vh;
    max-height: 180px;
    min-height: 140px;
    border-radius: 25px;
    margin: 0 auto;
    user-select: none;
}

.normalCard {
    min-width: 210px;
    max-width: 400px;
    height: 200px;
    box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    color: #fff;
    user-select: none;
}
#normalBigCard {
    width: 90%;
    max-width: 400px;
    height: 200px;
    min-height: 140px;
    border-radius: 25px;
    color: #fff;
    margin: 10px;
}

.cardImg {
    width: 100%;
    height: 100%;
    background-image: url(../img/Cards/icons-bg-small-card.svg);
    background-size: cover;
}
.cardImgAD {
    width: 100%;
    height: 100%;
    background-image: url(../img/Cards/icons\ bg\ -\ Big\ card.svg);
    background-size: cover;

    position: relative;
}
.cardImgBG {
    width: 100%;
    height: 100%;
    background-image: url(../img/Cards/icons\ bg\ -\ Big\ card.svg);
    background-size: cover;
}

.infoCard {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    height: 75%;
    width: 80%;
    position: relative;
}
.horarioB{
    text-align: end;
    position: absolute;
    bottom: -10px;
    right: 0;
}
.horarioB span{
    font-size: 35px;
}

.infoCardAD {
    height: 100%;
}

.infoBar {
    width: 100%;
    height: 25%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 0px 0px 15px 15px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}


.titleCardC {
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 30px;
    font-size:28px;
    margin: 20px 0px 5px 0px;
}
.titleCard {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.titleCardAD {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.boldTitle {
    font-weight: 600;
    font-size: 23px;
}

.infoClassC {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    margin: 0px 0px 20px 0px;
    color: rgba(255, 255, 255, 0.74);
}
.infoClass {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.74);
}

.infoClassSpan {
    font-weight: 400;
}

.textBoldCard {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.beta {
    position: absolute;
    width: 49px;
    height: 23px;
    top: 20px;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 5px 0px 0px 5px;

    font-family: 'Poppins';
    font-weight: 300;
    font-size: 14px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoSmallRight{
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.teacherImg {
    width: 30px;
    height: 30px;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    filter: drop-shadow(2px 2px 20px rgba(114, 94, 179, 0.5));
    border-radius: 9px;
}





.ad {
    background: linear-gradient(92.28deg, #232F6F 5.31%, #3676B2 97.95%),
linear-gradient(0deg, #C6C6C6, #C6C6C6);
} 

.dark {
    background: linear-gradient(130.25deg, #AA2828 3.08%, #B59A3E 97.12%);
}

.blue {
    background: linear-gradient(130.25deg, #3B93E4 3.08%, #6A289D 97.12%);

}

.purple {
    background: linear-gradient(130.25deg, #C534F5 3.08%, #3715BF 97.12%);
}

.green {
    background: linear-gradient(130.25deg, #2EB57C 3.08%, #167885 97.12%);

}

.pink {
    background: linear-gradient(130.25deg, #DD3EB0 3.08%, #AA2646 90.27%);
}

.gold {
    background: linear-gradient(130.03deg, #F0BD09 -5.26%, #BB2222 97.12%);
}
