@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto+Flex:wght@300;400;500;600;700&family=Roboto+Slab:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    height: 100vh;
    overflow: auto;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(25px);
}

.iconsHead {
    display: flex;
    justify-content: space-between;
    width: 85%;

    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.iconTK {
    width: 60px;
    height: 60px;
    background: #E2E8F2;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pfpUser {
    border-radius: 100%;
    filter: drop-shadow(2px 5px 20px #cad5e673);
    border-radius: 20px;
}

.welcomeText {
    font-family: 'Roboto Slab';
    width: 85%;
}

.greetings {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 21px;
    color: #828282;
}

.welcomeText p {
    font-weight: 700;
    font-size: 30px;
    color: #112940;
}

.blueWelcome {
    color: #035AA6;
}

.search {
    width: 85%;
    max-width: 355px;
    height: 60px;
    position: relative;
}

.searchBar {
    width: 85%;
    max-width: 331px;
    height: 100%;
    background: #FBFBFB;
    border: 1px solid #D8D8D8;
    border-radius: 15px;

    background-image: url(../img/Icons/search.svg);
    background-repeat: no-repeat;
    background-position: 15px;
    padding-left: 50px;

    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #888888;
}

.IADisabledSearch {
    position: absolute;
    bottom: 17px;
    right: 15px;
}
.moreClasses{
    padding-left: 35px;
    margin: 15px 0px 15px 0px;
}
.moreClasses a {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    color: #112940;
}
.moreClasses :hover{
    filter: drop-shadow(2px 5px 20px #1129406c);
}

.cardClasses {
    width: 85%;
    max-width: 331px;
}

.carrosselCardsClasses {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    overflow: auto;
}

.cardp {
    padding-left: 25px;
}
.content{
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}




/* BARRA DE NAVEGAÇÃO */
nav {
    /* display: none; */
    position: fixed;
    bottom: 0;
    padding: 10px 0px;
    max-height: 150px;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);

    backdrop-filter: blur(25px);
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .navIcons {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 10px;
  }
  .navIcons a{
    width: 5%;
    min-width: 35px;
  }
  .navIcons a img{
    width: 100%;
  }