*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #035AA6;
    height: 100vh;
}

main{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(2, 55, 102, 0.849) 100%);
}

header{
    background-image: url(../img/Cards/Icons\ bg\ -\ header.svg);
    background-size: contain;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 15vh;
}
.logoMain{
    fill: #fff;
}
.loaderContainer,.logoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loaderContainer{
  gap: 15px;
}
/* LOADING BAR */

.progress-loader {
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 150px;
  background: rgba(236, 236, 238, 0.253);
  height: 10px;
  border-radius: 7px;
}

.progress {
  width: 1px;
  height: 10px;
  border-radius: 7px;
  background: rgb(255, 255, 255);
  transition: 0.5s;
  animation: loading 10s infinite;
  /* animation: loading 12s cubic-bezier(.4,1.01,1,1) ease-in-out; */
}

@keyframes loading {
  0% {
    width: 0%;
  }

  50% {
    width: 100%;
  }
}


/* LOADING */
.loader {
  position: relative;
    color: rgb(255, 255, 255);
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    font-size: 25px;
    box-sizing: content-box;
    height: 40px;
    padding: 10px 10px;
    border-radius: 8px;
    display: flex;
    /* justify-content: center; */
  }
  
  .words {
    overflow: hidden;
  }
  
  .word {
    display: block;
    /* text-align: end; */
    height: 100%;
    padding-left: 6px;
    color: #b4d7ff;
    animation: spin 4s infinite;
  }
  
  @keyframes spin {
    10% {
      -webkit-transform: translateY(-105%);
      transform: translateY(-105%);
    }
  
    25% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  
    35% {
      -webkit-transform: translateY(-205%);
      transform: translateY(-205%);
    }
  
    50% {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
    }
  
    60% {
      -webkit-transform: translateY(-305%);
      transform: translateY(-305%);
    }
  
    75% {
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%);
    }
  
    85% {
      -webkit-transform: translateY(-405%);
      transform: translateY(-405%);
    }
  
    100% {
      -webkit-transform: translateY(-400%);
      transform: translateY(-400%);
    }
  }
  
