
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto+Slab:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation: changeColor 0.8s;
    background-image: url(../img/Cards/Icons\ bg\ -\ header.svg);
    background-size: contain;
    background-repeat: no-repeat;
    user-select: none;
}
header{
    margin-top: 24vh;
}
main,header,figure,section,form,footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    animation: fadeIn 0.8s;
}
section{
    width: 100%;
}
.logo{
    width: 90%;
    max-width: 295px;
}

.alternativas-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.inputAlt{
    font-weight:600;
    margin-bottom: 5px;
    font-size: 18px;
}
span,p{
    font-weight:600;
}

.lightP{
    font-weight: 300;
    text-align: center;
    font-size: 18px;
}
.googleAlt{
    font-weight: 400;
    text-align: center;
    font-size: 15px;
}
form{
    width: 90%;
    max-width: 350px;
}
input{
    width: 100%;
    max-width: 350px;
    height: 65px;
    background: #FAFAFA;
    border: 0.5px solid #D8D8D8;
    border-radius: 12px;
    margin: 0 auto;
}
#password,#email{
    padding: 20px;
}
.formDiv{
    width: 100%;
    margin: 0 auto ;
}


.login-btn{
    background: #006297;
    border: 0.5px solid #D8D8D8;
    border-radius: 20px;
    width: 90%;
    max-width: 270px;
    height: 60px;
    margin: 0 auto;
    color: #FFFFFF;
    font-weight: bold;

}
.googleCont{
    width: 100%;
    display: flex;
    justify-content: center;
}
.login-google{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90%;
    max-width: 270px;
    height: 60px;

    background: #FFFFFF;
    border: 1px solid #03447C;
    border-radius: 20px;
    color: #003E74;

    gap: 1rem;
    font-weight: 500;
}

button{
    font-size: 14pt;
}
footer{
    margin-bottom: 10px;
}

/* MODAL ERRO */
.modal {
    display: none;
    position: absolute;
    transition: opacity 1s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 455px;
    min-height: 293px;
    padding: 25px 26px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 18px;
  
    border-radius: 20px;
    background: rgba(251, 251, 251, 0.90);
    box-shadow: 5px 5px 250px 1000px rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(50px);
    font-family: 'Poppins', sans-serif;
  }
  
  .headModal {
    display: flex;
    align-items: center;
    gap: 12px;
  
    color: #282828;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .descriptionModal {
    color: #282828;
    text-align: justify;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .buttonsModal{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .buttonReload {
    width: 302px;
    height: 40px;
    border-radius: 10px;
    background: #165892;
  
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
  }
  
  
  .buttonGoAway {
    width: 302px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(188, 188, 188, 0.50);
    background: rgba(251, 251, 251, 0.50);
  
  
    color: #7D7D7D;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    line-height: normal;
  }
  
  /* MODAL ERRO */

@keyframes changeColor {
    from {background-color: #035AA6;}
    to {background-color: #fff;}
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @media only screen and (max-device-height: 800px) {
    header{
        margin-top: 15vh;
    }
  }
  @media only screen and (max-device-height: 700px) {
    header{
        margin-top: 8vh;
    }
  }
  @media only screen and (max-width: 300px) {
    .inputAlt{
        font-weight:600;
        margin-bottom: 5px;
        font-size: 15px;
    }
    span,p{
        font-weight:600;
        margin-bottom: 5px;
    }
    
    .lightP{
        font-weight: 300;
        text-align: center;
        font-size: 12px;
    }
    .googleAlt{
        font-weight: 400;
        text-align: center;
        font-size: 12px;
    }
    .login-google,.login-btn{
        font-size: 15px;
    }
  }
