@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto+Flex:wght@300;400;500;600;700&family=Roboto+Slab:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #282828;
}

.taskHeader {
    height: 30vh;
    max-height: 256.33px;
    background-size: cover;
    position: relative;
}

.backArrow {
    position: absolute;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 35px;
    margin-top: 20px;

    background: rgba(255, 255, 255, 0.3);
    border: 0.5px solid #f1f1f1;
    backdrop-filter: blur(2px);
    border-radius: 50px;
}

.backArrow img {
    width: 22px;
    transform: rotate(180deg);
}

.title {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskTitle {
    display: flex;
    flex-direction: column;
    text-align: center;

    font-family: 'Poppins';
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    color: #282828;
    margin-top: 30px;
}

.taskSubtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #383838;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category,
.description,
.mainGrid,
.subGrid {
    width: 90%;
    max-width: 380px;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
}

.navSpace {
    width: 100%;
    height: 80px;
}

.mainGrid {
    height: 30vh;
    max-height: 180px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.cardM {
    max-width: 170px;
    width: 95%;
    height: 80px;
    background: #FBFBFB;
    border: 1px solid #D8D8D8;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    user-select: none;
}

.cardTitle {
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    color: #757575;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cardContent {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #282828;
}

.subGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.subGridCategory {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

.subCard {
    width: 90%;
    max-width: 150px;
    min-height: 35px;
    background: rgba(40, 40, 40, 0.3);
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
}

.subCard2 {
    max-width: 200px;
    padding: 5px 20px;
    height: 35px;
    background: rgba(40, 40, 40, 0.3);
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
}

.subCard p {
    font-family: 'Roboto Slab';
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #282828;
}

.titlePart {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    color: #383838;
}

.descriptionText {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-align: justify;
    color: #ACACAC;
}

.color0 {
    background: #FBE3E9;
    color: #88394D;
}

.color1 {
    background: #F7D3AF;
    color: #755330;
}

.color2 {
    background: #CBEDF7;
    color: #345665;
}

.blue {
    background-color: #007ED938;
    color: #002f50;
}

.gold {
    background-color: #D9C30038;
    color: #645a00;
}

.green {
    background-color: #00990F38;
    color: #00660a;
}

.pink {
    background-color: #99002E38;
    color: #6b2c3c;
}

.purple {
    background-color: #24004838;
    color: #240048;
}


/* BARRA DE NAVEGAÇÃO */
nav {
    /* display: none; */
    position: fixed;
    bottom: 0;
    padding: 10px 0px;
    max-height: 150px;
    min-height: 55px;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1;
    backdrop-filter: blur(25px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.navIcons {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 10px;
    z-index: 1;
}

.navIcons a {
    width: 5%;
    min-width: 35px;
}

.navIcons a img {
    width: 100%;
}

.modal,
.modal2 {
    border-radius: 20px 20px 0 0;
    background: rgba(255, 255, 255, 0.979);
    backdrop-filter: blur(25px);
    flex-direction: column;
    align-items: start;
    width: 95%;
    padding: 10px;
    gap: 1rem;
    animation: slideInFrom 0.5s ease-out;
}

.modal {
    display: none;
}

.modal2 {
    display: none;
    align-items: center;
}


.descricao {
    color: #ACACAC;
    text-align: justify;
    font-family: Roboto;
    font-size: 13px;
}

.modalWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 85%;
    margin: 0 auto;
}

.ModalTitlle {
    margin: 0 auto;
}

button {
    border-radius: 15px;
    width: 50%;
    min-width: 150px;
    max-width: 200px;
    height: 45px;
    text-align: center;
    font-family: Roboto Slab;
    font-size: 13px;
    font-weight: 500;
}

.entrega {
    border: 1px solid #9E9E9E;
    background: #F9F9F9;
}

.professor {
    border: 1px solid #0606069b;

}

.wrapperButton {
    display: flex;
    align-items: center;
    /* margin: 0 auto; */
    gap: 10px;
    /* max-width: 85%; */
}


.map {
    position: center;
}

.bgM {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 0, 0, 0.623);
    display: none;
    flex-direction: column;
    justify-content: end;
    animation: fade-in 0.4s ease-in-out;
    /* overflow: hidden; */
}

.navSpace {
    width: 100%;
    max-height: 150px;
    min-height: 55px;
    background: rgb(255, 255, 255);
    margin-bottom: -10px;
}
.modal3 {
    transition: opacity 1s;
    width: 85%;
    max-width: 455px;
    min-height: 220px;
    padding: 20px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    border-radius: 20px;
    background: rgba(251, 251, 251, 0.90);
    backdrop-filter: blur(50px);
    font-family: 'Poppins';
  }
  
  .headModal {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #282828;
    font-size: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 6px;
  }
  
  .descriptionModal {
    color: #353535;
    text-align: justify;
    font-size: 14.2px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
  }
  .buttonsModal{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .buttonReload {
    margin-top: 10px;
    width: 100%;
    height: 45px;
    border-radius: 15px;
    background: #252525;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
  }
  
@keyframes slideInFrom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}