@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto+Flex:wght@300;400;500;600;700&family=Roboto+Slab:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 90vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  height: 100%;
  background: linear-gradient(180deg, #FEFEFE 13.14%, #CCDDF7 100%);
}

header {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 5px;
}

/* MODAL ERRO */
.modal {
  display: none;
  position: absolute;
  transition: opacity 1s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 455px;
  min-height: 293px;
  padding: 25px 26px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;

  border-radius: 20px;
  background: rgba(251, 251, 251, 0.90);
  box-shadow: 5px 5px 250px 1000px #fefefec7;
  backdrop-filter: blur(50px);
  border: 1px solid rgb(206, 206, 206);
  font-family: 'Poppins';
}

.headModal {
  display: flex;
  align-items: center;
  gap: 12px;

  color: #282828;
  font-size: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.descriptionModal {
  color: #282828;
  text-align: justify;
  font-size: 14px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.buttonsModal{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.buttonReload {
  width: 302px;
  height: 40px;
  border-radius: 10px;
  background: linear-gradient(134deg, #244679 0%, #6B8AB9 100%);


  color: #FFF;
  text-align: center;
  font-size: 15px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}

.buttonGoAway {
  width: 302px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgba(188, 188, 188, 0.50);
  background: rgba(251, 251, 251, 0.50);


  color: #7D7D7D;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  font-family: 'Roboto';
  line-height: normal;
}

/* MODAL ERRO */

.HeaderTitle {
  font-weight: bold;
  font-size: 32px;

}


.Data {
  margin: 20px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}

li {
  display: flex;
  padding: 20px;
  max-width: 350px;
  gap: 1rem;
  justify-content: space-evenly;

}

li img {
  height: 60%;
  margin: 2px;
}

hr {
  width: 320px;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
}

header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(25px);
}
header a img{
  width: 25px;
  transform: rotate(180deg);
}

.textWraper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.NotificationTitle {
  font-weight: 600;
  font-size: 20px;
}

.Description {
  color: #00000085;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
}

.bellBackground {
  display: flex;
  background: #f8d05d;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  padding: 8px;
  flex-grow: 10px;
  max-width: 62px;
  max-height: 62px;
}

/* BARRA DE NAVEGAÇÃO */
nav {
    /* display: none; */
    position: fixed;
    bottom: 0;
    padding: 10px 0px;
    max-height: 150px;
    min-height: 55px;
    width: 100%;
    background: #f5f5f5;

  
    /* backdrop-filter: blur(25px); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }
  .navIcons {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 10px;
    list-style: none;
  } 
  .Icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.Icon img {
    width: 15%;
    max-width: 45px;
    min-width: 25px;
    background-color: none;
    

  }

  .IconDescription{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 12px;
}


.search {
  width: 85%;
  max-width: 355px;
  height: 60px;
  position: relative;
  animation: slideInFromBottom 0.5s ease-out;
}

.chatInputUser {
  display: flex;
  justify-content: center;
}

.searchBar {
  min-width: 331px;
  width: 100%;
  height: 100%;
  background: #fbfbfbb0;
  border: 1px solid #d8d8d86b;
  border-radius: 15px;

  /* background-image: url(../img/Icons/search.svg);
  background-repeat: no-repeat;
  background-position: 15px; */
  padding-left: 60px;
  padding-right: 5px;

  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #888888;
  overflow: auto;
}

.IADisabledSearch {
  position: absolute;
  bottom: 17px;
  left: 10px;
}

#result {
  max-width: 300px;
  min-height: 60px;
  padding: 10px;
  background: linear-gradient(85.12deg, #f8fdff 4.95%, #EAF2FF 96.01%);
  border: 1px solid #DAE3F1;
  border-radius: 20px 20px 20px 6px;

  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  justify-content: flex-start;
  flex-direction: column;
  color: #2C456B;
}
#resultU {
  max-width: 300px;
  min-height: 60px;
  padding: 10px;
  background: linear-gradient(92.28deg, #1F3E6D 5.31%, #627899 97.95%);
border-radius: 20px 20px 6px 20px;

  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  justify-content: flex-end;
  color: #ffffff;
}
#resultU,#result{
  display: flex;
  align-items: center;
  animation: aparecer 0.5s forwards;
  animation: slideInFromBottom 0.5s ease-out;
}
#resultU p{
  text-align: end;
}
#result p{
  text-align: justify;
}
.resultU{
  width: 100%;
  max-width: 600px;
  padding: 0px 30px;
  display: flex;
  justify-content: flex-end;
}
.result{
  width: 100%;
  max-width: 600px;
  padding: 0px 30px;
  display: flex;
  justify-content: flex-start;
}
.content{
  height: 72vh;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: auto;
  padding-bottom: 20px;
}
.navSpace{
  width: 100%;
  height: 150px;
}


@keyframes aparecer {
  0% {
    bottom: -100px; /* Posição inicial abaixo da tela */
    opacity: 0; /* Invisível */
  }
  100% {
    bottom: 50px; /* Posição final acima da tela */
    opacity: 1; /* Visível */
  }
}
@keyframes slideInFromBottom {
  0% {
      transform: translateY(100%);
  }

  100% {
      transform: translateY(0);
  }
}
@media (max-height: 740px) {
  .content{
    height: 65vh;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
}
@media (max-height: 600px) {
  .content{
    height: 60vh;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .navIcons {
    height: 100%;
    display: none;
    justify-content: space-around;
    align-items: center;
    margin: 0px 10px;
  }
}